:root {
    --primary-color: #284973;
    --black-color: #333333;
    --white-color: #ffffff;
    --text-primary: #262626;
    --text-secondary: #777777;
    --bg-color: #1a3357;
    --btn-primary: #4c7ec2;
    --bg-active-sidebar: #1a3357;
    --text-active-sidebar: #8abbff;
}
