@font-face {
    font-family: 'SF Pro Display';
    src: url(../fonts/SF-Pro-Display-Bold.ttf);
    font-weight: bold;
    font-style: normal;
}
@font-face {
    font-family: 'SF Pro Display';
    src: url(../fonts/SF-Pro-Display-Light.ttf);
    font-weight: 300;
    font-style: normal;
}
@font-face {
    font-family: 'SF Pro Display';
    src: url(../fonts/SF-Pro-Display-Regular.ttf);
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'SF Pro Display';
    src: url(../fonts/SF-Pro-Display-Semibold.ttf);
    font-weight: 600;
    font-style: normal;
}
@font-face {
    font-family: 'SF Pro Display';
    src: url(../fonts/SF-Pro-Display-Medium.ttf);
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Mona Sans';
    font-stretch: 75% 125%;
    font-weight: 200 900;
    src: url('../fonts/mona-sans/Mona-Sans-f258701679eace96725e03121950af40ae6e4ceef03b21242c66a3b7ae6ccbf4.woff2')
        format('woff2');
}

@import '~normalize.css';
@import './_variables.scss';
@import './rules.scss';
@import './reset.scss';

html {
    font-size: 62.5%;
}

body {
    * {
        // font-family: 'SF Pro Display', sans-serif;
        font-weight: 450;
        font-size: 1.4rem;
    }
}

.scrollbar {
    &:hover::-webkit-scrollbar-thumb {
        background-color: #9da5b1;
    }

    &::-webkit-scrollbar {
        width: 10px;
        height: 10px;
    }

    &::-webkit-scrollbar-corner {
        background-color: transparent;
    }

    &::-webkit-scrollbar-thumb {
        background-color: transparent;
        border: 2px solid transparent;
        background-clip: padding-box;
        border-radius: 6px;
        transition: cubic-bezier(0.165, 0.84, 0.44, 1);
    }
}

/* Example CSS for transition effects */
body {
    transition: background-color 0.3s ease-in-out;
}

.layout {
    padding: 2.4rem;
}

.layout-vertical {
    padding: 2.4rem 0;
}

.layout-horizontal {
    padding: 0 2.4rem;
}

.area {
    padding: 0 2.4rem;
}

.btn-delete {
    margin-left: 1rem;
    color: red;

    span {
        color: red;
    }

    &:hover span {
        color: red !important;
    }

    &:hover {
        border-color: red !important;
    }
}

.text-secondary {
    color: grey;
}

.text-bold {
    font-weight: bold;
}

// #content {
//     position: relative;

//     .ant-modal-mask,
//     .ant-modal-wrap {
//         position: absolute;
//         z-index: 999999999  ;
//     }
// }

/* HTML: <div class="loader"></div> */
.dot-loader {
    width: 15px;
    aspect-ratio: 1;
    border-radius: 50%;
    animation: l5 1s infinite linear alternate;
}

.dot-loader-sm {
    width: 12px;
    aspect-ratio: 1;
    border-radius: 50%;
    animation: l5 1s infinite linear alternate;
}

@keyframes l5 {
    0% {
        box-shadow:
            20px 0 #000,
            -20px 0 #0002;
        background: #000;
    }
    33% {
        box-shadow:
            20px 0 #000,
            -20px 0 #0002;
        background: #0002;
    }
    66% {
        box-shadow:
            20px 0 #0002,
            -20px 0 #000;
        background: #0002;
    }
    100% {
        box-shadow:
            20px 0 #0002,
            -20px 0 #000;
        background: #000;
    }
}

.confirm-delete-icon {
    svg {
        width: 1.6em;
        height: 1.6em;
    }
}