.content {
    height: 300px;
    padding: 0 40px;
    margin: 20px 24px;
    border: 1px dashed red;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #e1e1e1;
    font-weight: bold;
}