.loading-container {
    :global {
        .ant-skeleton {
            width: 100%;

            .ant-skeleton-image {
                width: 100%;

                svg {
                    width: 4rem;
                    height: 4rem;
                }
            }
        }
    }
}

.card {
    height: 120px;

    .title {
        font-size: 2.2rem;
        font-weight: bold;
        color: #fff;
    }

    :global {
        .ant-statistic-content-value {
            * {
                font-size: 3.2rem;
                font-weight: bold;
                color: #fff;
            }
        }

        
    }
}

:global {

    .card-1 {
        background: #f0d57c;
        border-color: #f0d57c;
    }
    
    .card-2 {
        background: #1a5d1a;
        border-color: #1a5d1a;
    }
    
    .card-3 {
        background: #d04848;
        border-color: #d04848;
    }
    
    .card-4 {
        background: #999;
        border-color: #999;
    }
}