.gallery-container {
    height: 300px;

    .gallery-slide {
        position: relative;
    }

    .gallery-image {
        height: 250px;
        width: 100%;
        object-fit: cover;
        border-radius: 10px;
        cursor: pointer;
    }

    .gallery-delete {
        position: absolute;
        top: 10px;
        right: 10px;
        cursor: pointer;
        border-color: red;
    }

}