.gallery-container {
    height: 300px;

    .gallery-slide {
        position: relative;
    }

    .gallery-image {
        height: 250px;
        width: 99%;
        object-fit: contain;
        border-radius: 10px;
        cursor: pointer;
        box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
        margin: .2rem;
        border: 1px solid #e0e0e0;
    }

    .gallery-delete {
        position: absolute;
        top: 10px;
        right: 10px;
        cursor: pointer;
        border-color: red;
    }

}