.upload-container {
    display: block !important;

    :global {
        .ant-upload-list {
            justify-content: center;
        }

        .ant-upload,
        .ant-upload-list-item,
        .ant-upload-list-item-container {
            width: 200px !important;
            height: 200px !important;
        }

        img {
            object-fit: cover !important;
        }
    }
}
